.todoForm {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.modernInput {
  width: 100%;
  display: block;
  border: none;
  color: black;
  font-size: 16px;
}

.modernInput:focus {
  outline: none;
}

.modernButton {
  display: inline-block;
  background-color: #f7ca18;
  border: none;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: #000000;
}

.inputContainer {
  display: flex;
}
