.header {
  background-color: #f7ca18;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  font-size: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
